@import "../../App";

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color-primary);
  padding: .5rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      height: 3rem;
      display: flex;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
      }

    }

    .links {
      height: 2rem;
      display: flex;

      a {
        display: flex;
        align-items: center;
        color: var(--navbar-text-color-secondary);
        font-weight: 700;
        font-size: 1.2rem;
        text-decoration: none;
        margin-left: 20px;

        &.active-nav-item {
          background-color: var(--navbar-background-selected-color);
          border-radius: 5px;
          padding: 8px 12px;

          font-weight: bold;
        }
      }

    }
  }

  .switchers {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .theme-switcher {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;

      .icon {
        width: 2rem;
        height: 2rem;
      }
    }


    .language-switcher {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .flag {
        height: 2rem;
      }
    }
  }
}

main {
  margin-top: 6rem;
}
