@import "../../App";

.contact-card, .group-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: var(--card-box-shadow);
  width: 300px;
  margin: 10px;
  height: 300px;

  .contact-card__fields, .group-card__fields {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    .card__field {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 8px;

      .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }


      .property {
        display: inline-block;
        width: 150px;
        font-weight: bold;
        text-align: right;
        margin-right: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .value {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.text-area {
          display: flex;
          height: 200px;
          word-wrap: break-word;
          overflow: unset;
          white-space: unset;
          text-overflow: unset;
          text-align: justify;
        }
      }
    }
  }


  .card__image {
    width: 100%;
    margin: 16px 0;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 150px;
      border-radius: 25px;
    }
  }

  .button-actions {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
}
