{% extends 'base.html.twig' %}

{% block title %}Hello APIContactsController!{% endblock %}

{% block body %}
    <div {{ react_component('contacts/ContactsList/ContactsList') }}></div>
{% endblock %}
